{% extends "template.html.twig" %}

{% block body %}
	<div class="body-content">

		{% if flash != NULL %}
			<div class="{{flash.type}}">
				<h6>{{flash.message}}</h6>
			</div>
		{% endif %}

		<h2> Resultats tournoi en cours : </h2>

		
		{% if type == "Qualif" %}
			{{dump(tournament)}}
		{% else %}
			<div class = "championship">
				<div>
					<table>
						<colgroup>
							<col class="pseudo">
							<col class="medals" span="4">
						</colgroup>
						<thead>
							<tr>
								<th class="categorie" colspan="5"> Master </th>
							</tr>
							<tr>
								<th> Pseudo </th>
								<th> Champ </th>
								<th> Gold </th>
								<th> Silver </th>
								<th> Bronze </th>
							</tr>
						</thead>
						<tbody>
							{% for master in masters %}
								<tr>
									<td> {{ master.pseudo }} </td>
									<td> {{ master.champ_medal }} </td>
									<td> {{ master.gold_medal }} </td>
									<td> {{ master.silver_medal }} </td>
									<td> {{ master.bronze_medal }} </td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div>
					<table>
						<colgroup>
							<col class="pseudo">
							<col class="medals" span="4">
						</colgroup>
						<thead>
							<tr>
								<th class="categorie" colspan="5"> Challenger </th>
							</tr>
							<tr>
								<th> Pseudo </th>
								<th> Champ </th>
								<th> Gold </th>
								<th> Silver </th>
								<th> Bronze </th>
							</tr>
						</thead>
						<tbody>
							{% for challenger in challengers %}
								<tr>
									<td> {{ challenger.pseudo }} </td>
									<td> {{ challenger.champ_medal }} </td>
									<td> {{ challenger.gold_medal }} </td>
									<td> {{ challenger.silver_medal }} </td>
									<td> {{ challenger.bronze_medal }} </td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div>
					<table>
						<colgroup>
							<col class="pseudo">
							<col class="medals" span="4">
						</colgroup>
						<thead>
							<tr>
								<th class="categorie" colspan="5"> Outsider </th>
							</tr>
							<tr>
								<th> Pseudo </th>
								<th> Champ </th>
								<th> Gold </th>
								<th> Silver </th>
								<th> Bronze </th>
							</tr>
						</thead>
						<tbody>
							{% for outsider in outsiders %}
								<tr>
									<td> {{ outsider.pseudo }} </td>
									<td> {{ outsider.champ_medal }} </td>
									<td> {{ outsider.gold_medal }} </td>
									<td> {{ outsider.silver_medal }} </td>
									<td> {{ outsider.bronze_medal }} </td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
