{% extends "template.html.twig" %}

{% block body %}
	<div class="body-content">

		{% if flash != NULL %}
			<div class="{{flash.type}}">
				<h6>{{flash.message}}</h6>
			</div>
		{% endif %}

		<h2> Resultats dernier tournoi : </h2>

		{% if type == "Qualif" %}
			{{dump(tournament)}}
		{% else %}
			{% for master in masters %}
				{{dump(master)}}
				<br>
				<br>
			{% endfor %}
			<br>
			<br>
			<br>
			{% for challenger in challengers %}
				{{dump(challenger)}}
				<br>
				<br>
			{% endfor %}
			<br>
			<br>
			<br>
			{% for outsider in outsiders %}
				{{dump(outsider)}}
				<br>
				<br>
			{% endfor %}
		{% endif %}

	</div>
{% endblock %}
